name: flask App Test

on:
    workflow_dispatch:
    pull_request:
        branches:
            - main
    push:
        branches:
            - main
jobs:
    test:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                python-version: [3.8]
        steps:
            - name: Create GitHub App token
              id: app
              uses: actions/create-github-app-token@v1
              with:
                  app-id: ${{ vars.GH_APPLICATION_ID }}
                  private-key: ${{ secrets.GH_APP_KEY }}
                  owner: ${{ github.repository_owner }}
            - name: Check out repository
              uses: actions/checkout@v4
              with:
                  token: ${{ steps.app.outputs.token }}

            - name: Use token (gh / curl / etc.)
              env:
                  GH_TOKEN: ${{ steps.app.outputs.token }}
              run: |
                  gh api repos/${{ github.repository }} --jq '.full_name'
            - name: Set up Python ${{ matrix.python-version }}
              uses: actions/setup-python@v4
              with:
                  python-version: ${{ matrix.python-version }}
            - name: Install dependencies
              run: |
                  python -m pip install --upgrade pip
                  pip install -r requirements.txt
            - name: Run tests
              run: |
                  python -m unittest app/main_test.py
            - name: Clone tools repo for test
              env:
                  TOKEN: ${{ steps.app.outputs.token }}
              run: |
                  git clone -b v0.8.35 --depth=1 https://github.com/citusdata/tools.git tools
